<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity
            android:name=".activity.DealViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cleanbase.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="APP_NAME"
            android:value="${app_name_channel}" />


        <!--友盟-->
        <!--正式：601a1119aa055917f8816f3a-->
        <meta-data android:value="601a1119aa055917f8816f3a" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>